/* noonnu font */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* common */
body {
  font-family: "GmarketSansMedium", sans-serif;
  font-size: 15px;
}
.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}
button {
  font-size: 1.2em;
  font-weight: 700;
  background-color: #0b7932;
  color: white;
  padding: 0.8em 3em;
  border: none;
  border-radius: 1.5em;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.644);
}
em {
  color: #e86000;
  font-style: normal;
}
/* header */
header {
  width: 100%;
  height: 100%;
  position: relative;
}
header::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-image: url("../image/header_bottom.png");
  background-size: cover;
  z-index: 1;
  width: 320px;
  height: 200px;
}
.top_button {
  width: 150px;
  height: 80px;
  position: fixed;
  z-index: 11111;
  right: 10%;
  bottom: 5%;
  background-color: white;
  border-radius: 120px;
}
.top_button p {
  position: absolute;
  top: 50%;
  left: 72%;
  transform: translate(-50%, -50%);
}
.top_button img {
  width: 80px;
  height: 80px;
}
nav {
  padding: 0 1em;
  grid-column: span 12;
  width: 100%;
  height: 70px;
  margin: 0 auto;
  position: fixed;
  background-color: white;
  display: flex;
  align-items: center;
  z-index: 999;
}
.nav_inner {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_menu_left {
}
.nav_menu_left ul {
  display: flex;
}
.nav_menu_left ul li {
  margin-left: 1.5em;
}
.nav_menu_left ul li:nth-child(1) {
  margin-left: 0;
}
.nav_menu_left ul li a {
  font-size: 1.3;
  font-weight: 700;
  transition: 0.2s;
}
.nav_menu_left ul li a:hover {
  color: #e86000;
}
.nav_menu_right ul {
  display: flex;
}
.nav_menu_right ul li:nth-child(2) {
  margin-left: 1.5em;
}
.nav_menu_right ul li:nth-child(1) a {
  color: gray;
}
.nav_menu_right ul li:nth-child(2) a {
  padding: 0.5em 0.8em;
  background-color: #e86000;
  border-radius: 1em;
  color: white;
}
/* hamburger, modal */
.hamburger {
  display: none;
}
.hamburger i {
  cursor: pointer;
}
.header_modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 338px;
  height: 100vh;
  z-index: 9999;
  background-color: white;
  display: none;
}
.header_modal_top {
  padding: 1em;
  align-items: center;
  background-color: #333;
}
.header_modal_top span {
  color: white;
  cursor: pointer;
}
.header_modal_top span:nth-of-type(1) {
  grid-column: 1 / 5;
}
.header_modal_top span:nth-of-type(2) {
  grid-column: 5 / 8;
}
.header_modal_top i {
  cursor: pointer;
  grid-column: 11 / 12;
  color: white;
}
.header_modal_menu {
}
.header_modal_menu ul li {
  padding: 24px 20px;
  font-size: 1.3em;
  font-weight: bold;
}
.header_modal_menu ul li a {
  transition: 0.2s;
}
.header_modal_menu ul li a:hover {
  color: #e86000;
}
.header_back {
  grid-column: span 12;
  width: 100%;
  background-image: url("../image/header_back.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 815px;
  max-height: 815px;
  margin-top: 70px;
  text-align: center;
}

.header_back > h2 {
  margin-top: 3em;
  font-size: 1.6em;
}
.header_back > h1 {
  margin-top: 0;
  font-size: 3.6em;
}
.header_back > button {
  font-size: 1.2em;
}
/* header animation */
.header_imgbox {
  position: relative;
  width: 100%;
  height: 100%;
}
.header_imgbox_top,
.header_imgbox_bottom {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  overflow: hidden;
}
.header_imgbox_top {
  top: 5%;
}
.header_imgbox_bottom {
  top: 30%;
}
.header_circle {
  position: relative;
  top: 0;
  left: 0;
  margin-right: 10px;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 100%;
  animation: ani linear 10s infinite;
  animation-direction: alternate;
}
.ani2 {
  top: 0;
  left: 0;
  animation: anima linear 10s infinite;
  animation-direction: alternate;
}
.header_circle img {
}
@keyframes ani {
  from {
    left: -5%;
  }
  to {
    right: -5%;
  }
}
@keyframes anima {
  from {
    right: -5%;
  }
  to {
    left: -5%;
  }
}
/* section intro*/
section {
  background-color: antiquewhite;
}
.intro {
  width: 100%;
  height: 100%;
  position: relative;
}
.intro_wrap {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
}

.intro_wrap h2 {
  font-size: 3.6em;
  line-height: 54px;
}
.intro_wrap p {
  font-size: 1.6em;
}
.intro_wrap p:nth-of-type(1) {
  margin-top: 1em;
}
.intro_wrap p:nth-of-type(3) {
  margin-top: 1em;
}
.intro_wrap button {
  margin-top: 1.6em;
}
/* section ambassador*/
.ambassador {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: aliceblue;
}
.ambassador_wrap {
  min-height: 420px;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  padding: 120px 0;
  position: relative;
}
.ambassador_wrap h2 {
  font-size: 3.6em;
}
.ambassador_wrap > p {
  font-size: 1.6em;
}
/* swiper */
.swiper {
  margin-top: 2em;
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide-active .swiper_imgbox {
  filter: grayscale(0);
}
.siwper-pagination {
}
/* swiper content */
.swiper_imgbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: grayscale(1);
}
.swiper_circle {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  background-image: url("../image/emb_img1.png");
  position: relative;
}
.circle2 {
  background-image: url("../image/emb_img2.png");
}
.circle3 {
  background-image: url("../image/emb_img3.png");
}
.circle4 {
  background-image: url("../image/emb_img4.png");
}
.circle5 {
  background-image: url("../image/emb_img5.png");
}
.circle6 {
  background-image: url("../image/emb_img6.png");
}
.swiper_circle span {
  position: absolute;
  left: 50%;
  bottom: -1em;
  transform: translateX(-50%);
  padding: 1em 1.5em;
  background-color: #0b7932;
  border-radius: 1em;
  color: white;
}
.swiper_text {
  margin-top: 2em;
  font-size: 1.3em;
}
.swiper_text p:nth-of-type(2) {
  font-size: 0.8em;
}
.filter {
  filter: grayscale(0);
}
/* section community */
.community {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: aliceblue;
}
.community_wrap {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  padding: 120px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.community_wrap_left,
.community_wrap_right {
  width: 600px;
  display: flex;
  flex-direction: column;
}
.community_box {
  max-width: 600px;
  height: 600px;
  border-radius: 5em;
  padding: 4em;
  text-align: left;
  position: relative;
}
.community_box h3 em {
  font-size: 1.4em;
  color: white;
}
.community_box h2 {
  font-size: 2.6em;
  margin-top: 1em;
}
.community_box span {
  position: absolute;
  top: 10%;
  right: 10%;
  padding: 0.8em 1em;
  border-radius: 100%;
  background-color: black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.community_box span > i {
  color: white;
  font-size: 1.5em;
}
.com_box_icon {
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 50%;
  object-fit: cover;
}
.community_box > i {
  position: absolute;
  font-size: 100px;
  color: rgba(255, 255, 255, 0.527);
  bottom: 10%;
  right: 10%;
}
.community_box_color2::before,
.community_box_color4::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.288);
}
.community_box_color2::after,
.community_box_color4::after {
  content: "";
  position: absolute;
  top: 75%;
  left: 45%;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.288);
}

/* boxcolor */
.community_box_color {
  background-image: url("../image/com_box1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.community_box_color2 {
  background-color: #6fc8e9;
  margin-top: 100px;
}
.community_box_color3 {
  background-image: url("../image/com_box3.png");
  background-repeat: no-repeat;
  background-position: 300px 300px;
  background-size: 35%;
  background-color: #91c749;
  margin-top: 150px;
  position: relative;
}
.community_box_color4 {
  background-color: #c38ef2;
  margin-top: 100px;
}
/* comunity modal */
.community_modal {
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  width: 1300px;
  height: 100%;
  z-index: 9999;
  background: white;
  overflow-y: scroll;
  border-radius: 1.5em;
}
.js_modal_close {
  position: absolute;
  top: 10%;
  right: 10%;
  cursor: pointer;
}
.modal_img {
  grid-column: span 12;
  position: relative;
}
.modal_img img {
  width: 100%;
  object-fit: cover;
}
.modal_iframe {
  grid-column: span 6;
}
.modal_iframe iframe {
  width: 100%;
}
.modal_text {
  grid-column: span 6;
  margin-left: 10px;
  text-align: left;
}
.modal_text p {
  margin-top: 2em;
}
.modal_text h2 {
  font-size: 1.5em;
  margin-top: 2em;
}
/* section insta */
.insta {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: aliceblue;
  overflow: hidden;
}
.insta_wrap {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 120px 0;
  background-color: antiquewhite;
}
.insta_wrap h2 {
  font-size: 2.6em;
}
/* insta swiper */
.mySwiper2 .swiper-slide {
}
.swiper-slide-active .swiper_imgbox2,
.swiper-slide-prev .swiper_imgbox2,
.swiper-slide-next .swiper_imgbox2 {
  filter: grayscale(0);
}
.swiper_imgbox2 {
  width: 320px;
  height: 480px;
  border-radius: 18px;
  background-color: white;
  text-align: left;
  overflow: hidden;
  filter: grayscale(1);
  cursor: pointer;
}
.swiper_img2 {
  width: 100%;
  height: 240px;
  overflow: hidden;
}
.swiper_img2 img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.swiper_text2 {
  padding: 1em;
}
.swiper_text2 p:nth-of-type(2) {
  font-size: 15px;
}
/* article add */
.add {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #503095;
}
.add_wrap {
  height: 200px;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.add_wrap h2 {
  font-size: 2.1em;
}
.add_wrap a {
  color: white;
  font-size: 1em;
}
.add_wrap a:hover {
  text-decoration: underline;
}
.add_wrap img {
  position: absolute;
  object-fit: cover;
  z-index: 1;
}
.add_wrap img:nth-of-type(1) {
  cursor: pointer;
  height: 200px;
  left: 50%;
}
.add_wrap img:nth-of-type(2) {
  width: 25%;
  left: 23%;
}
/* section story */
.story {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: aliceblue;
  overflow: hidden;
  padding-bottom: 120px;
}
.story_wrap {
  max-width: 1300px;
  margin: 0 auto;
  padding: 120px 0;
  position: relative;
}
.story h2 {
  font-size: 2.6em;
}
.story p {
  font-size: 1.6em;
}
.story_box {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 1em;
  width: 100%;
  max-width: 600px;
  height: 600px;
  padding: 1.5em;
  overflow: hidden;
}
.story_box img {
  position: absolute;
  height: auto;
  object-fit: cover;
  bottom: -110%;
  left: -110%;
}
.story button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
/* article add2 */
.add2 {
  background-color: #ffbacf;
}
.add_wrap2 {
  position: relative;
}
.add_wrap2 a {
  text-align: center;
  border: 1px solid white;
  width: 100px;
  padding: 0.5em 0;
}
.add_wrap2 img {
  position: absolute;
}
.add_wrap2 img:nth-of-type(1) {
  left: 70%;
}
.add_wrap2 img:nth-of-type(2) {
  width: 70%;
  left: 20%;
}
/* section sns */
.sns {
  width: 100%;
  height: 100%;
  position: relative;
}
.sns_wrap {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sns_wrap h2 {
  font-size: 3.6em;
}
.sns_wrap p {
  font-size: 1.6em;
}
.sns_box {
  max-width: 500px;
}
.sns_box button {
  padding: 1em 3em;
  margin-top: 1em;
  grid-column: span 6;
  display: flex;
  align-items: center;
}
/* button color */
.sns_box button:nth-of-type(1) {
  background-color: #00c300;
}
.sns_box button:nth-of-type(2) {
  background-color: #1877f2;
}
.sns_box button:nth-of-type(3) {
  background-color: #1da1f2;
}
.sns_box button:nth-of-type(4) {
  background-color: #e4405f;
}
.sns_box button em {
  color: white;
  margin-right: 13px;
  font-size: 25px;
}
.sns_box button i {
  margin-right: 13px;
  font-size: 25px;
}
/* footer */
footer {
  width: 100%;
  height: 100%;
  position: relative;
}
.footer_wrap {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  padding: 1em 0;
  grid-gap: 8px;
}

.footer_wrap ul {
  grid-column: span 12;
  display: flex;
}
.footer_wrap ul li {
  margin-left: 2em;
}
.footer_wrap ul li:nth-of-type(1) {
  margin-left: 0;
}
.footer_wrap p {
  grid-column: span 12;
  color: gray;
  text-align: left;
}
.footer_copy {
  padding: 1em 0;
  text-align: center;
  color: white;
  background-color: #e86000;
}
