@media (max-width: 800px) {
  /* header */
  nav {
  }
  .top_button {
    width: 80px;
    border: none;
  }
  .top_button p {
    display: none;
  }
  .nav_menu_left,
  .nav_menu_right {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .header_modal {
    position: fixed;
    right: -100%;
  }
  .header_contentbox_left {
    display: none;
  }
  .contentbox_text {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    color: white;
  }
  .header_inner > div {
    grid-column: span 12;
  }
  /* section samyang_story */
  .story_box {
    grid-column: span 12;
  }
  /* footer */
  .footer_wrap {
    padding: 1em 14px;
  }
  .footer_wrap ul {
    justify-content: space-between;
  }
  .footer_wrap ul li {
    font-size: 0.8em;
  }
  .footer_copy {
    font-size: 0.8em;
    padding: 1em;
  }
}
